- attrs = controller_name.classify.constantize.column_names - ['id', 'updated_at', 'created_at']
.infos-table
  h1 All meter readings of electricity
  table.table
    thead
      tr
        - attrs.each do |column|
          th
            = column.humanize
    tbody
      - @electricity_infos.each do |item|
        tr
          - attrs.each do |attr|
            td
              .center
                = item.send(attr)
  = will_paginate @electricity_infos
