main.inner.cover role="main" 
  h1.cover-heading Upload new electricity infos
  p.lead Your file must be a XML type and contain all needed informations.

  = simple_form_for :uploaded_file, url: electricity_infos_path, :html=> {:multipart=>true} do |f|
    .masthead
      = f.file_field :xml, class: 'btn btn-secondary'
    p.lead
      = f.submit 'upload', class: 'btn btn-lg btn-secondary'
