// Place all the styles related to the ElectricityInfo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
  border-bottom: 1px solid #000 !important;
}

table, th {
  border-top: 1px solid #000 !important;
}

.infos-table {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
  border: 1px solid #fff;
}