.pagination {
    font-size: 12px;
    color: #000;
}

.pagination a {
    color: #000;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

.pagination a:hover {
    border: 1px solid #fff;
    color: #000;
}

.pagination a:active {
    text-shadow: none;
    color: #000;
}

.pagination .current {
    border: 1px solid #fff;
    color: white;
}

.pagination .disabled {
    color: #C0C0C0;
}