doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    title Sandbox
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon.png', :rel => 'shortcut icon'
    - if flash.any?
      .flashes
        - flash.each do |key, value|
          .alert class: "alert-#{key}" 
            = value
  body
    .cover-container.d-flex.h-100.p-3.mx-auto.flex-column
      header.masthead.mb-auto
        .inner
          h3.masthead-brand Heroes Chronicle
          nav.nav.nav-masthead.justify-content-center
            = link_to 'Home', root_path, class: "nav-link #{'active'if current_page?(root_path)}"
            = link_to 'Upload new infos', new_electricity_info_path, class: "nav-link #{'active'if current_page?(new_electricity_info_path)}"
            = link_to 'See all infos', electricity_infos_path, class: "nav-link #{'active'if current_page?(electricity_infos_path)}"
      = yield
      footer.mt-auto
